extends ../layout.jade
block content
    section#account.account-page.section-padding
        .container
            .row
                ol.breadcrumb
                    li
                        a.breadcrumb(href='/tai-khoan?tab=quan-ly-category') Category
                    li.active
                        a.breadcrumb(href='#') Sửa Category
            .row
                form(action='/update_category', method='post')
                    input.sr-only(value=category.code , name='code')
                    .err
                        | #{errorMessage}
                    .form-group
                        .row
                            .col-lg-1
                                label Name:
                            .col-lg-9
                                input.form-control#header(type='text', name='name', required, value=category.name)
                    .form-group
                        .row
                            .col-lg-1
                                label URL:
                            .col-lg-9
                                .input-group
                                    span.input-group-addon https://tera.vn/tin-tuc/
                                    input#url.form-control(type='text', name='url', value=category.url, required='')
                    .form-group
                        .row
                            .col-lg-1
                                label Description:
                            .col-lg-9
                                textarea.form-control#description(rows = 7 type='text', name='description', required) #{category.description}
                            .col-lg-2
                                span#counter (0/160)
                    .form-group
                        .col-lg-offset-5.col-lg-1
                            button.btn.btn-danger.form-control#submitButton(type='submit') Update
    block script
        style.
            .breadcrumb {
                transition: all 0.3s ease 0s;
                text-decoration: none;
                font-weight: 400;
                color: #000000;
                text-transform: none;
                font-family: 'Montserrat', sans-serif;
            }
            #account {
                margin-top: 100px;
                margin-bottom: 50px;
            }
        script.
            var category = !{JSON.stringify(category || {})}
            var counterTempate = '(%d)';
            $('#counter').text(counterTempate.replace("%d", category.description.length));
            $('#description').keyup(function () {
                var counter = $('#description').val().length;
                $('#counter').text(counterTempate.replace("%d", counter));
            })
