extends ../layout2.jade
block head
    script(src='/static/lib/ckeditor/ckeditor.js')
    link(rel='stylesheet', href='/static/less/user-profile.css')
block content
    section#account.account-page.section-padding
        .container
            ol.breadcrumb
                li
                    a.breadcrumb(href='/tai-khoan?tab=quan-ly-tin-tuc') Tin
                li.active.in
                    a.breadcrumb(href='#') Sửa Tin
            .row
                .col-sm-12
                    .single-input.p-bottom50.clearfix
                        form(action='/update_news', method='post')
                            .err
                                | #{errorMessage}
                            input#code(type='text', style='display: none' , name='code', required, value=post.code || '')
                            .form-group
                                .row
                                    .col-lg-1
                                        label Title:
                                    .col-lg-9
                                        input.form-control#header(type='text', name='header', required, value=post.header || '')
                                    .col-lg-2
                                        span#counter (0);
                            .form-group
                                .row
                                    .col-lg-1
                                        label Category:
                                    .col-lg-9
                                        select#categories.form-control(name='category', value=post.category)
                            .form-group
                                .row
                                    .col-lg-1
                                        label URL:
                                    .col-lg-9
                                        .input-group
                                            span.input-group-addon https://tera.vn/tin-tuc/
                                            input#url.form-control(type='text', name='url', required='', value=post.url)
                            .form-group
                                .row
                                    .col-lg-1
                                        label Thumbnail:
                                    .col-lg-9
                                        label.cursor-pointer(for='avatar')
                                            #avatar-place-holder.square-80.media-upload(style='background-image: url("' +post.picture+ '")')
                                        input#avatar.input-file.hidden(type='file')
                                        input#ava.hidden(type='text', name='picture', value=post.picture)
                            .form-group
                                .row
                                    .col-lg-1
                                        label Content
                                    .col-lg-9
                                        textarea.form-control#content(type='text', name='content', value=post.content, required)
                            .form-group
                                .col-lg-offset-5.col-lg-1
                                    button.btn.btn-danger.form-control#submitButton(type='submit') Update

    block script
        style.
            .reply {
                padding-left: 50px;
                padding-top: 20px;
            }

            #comment {
                margin-top: 50px;
            }
            #account {
                margin-top: 100px;
                margin-bottom: 50px;
            }
        script.
            var post = !{JSON.stringify(post || {})}
            $.post('/get_categories', function (data, err) {
                $('#categories').html('');
                $.each(data.categories, function (index, category) {

                    $('#categories').append($('<option>', {
                        value: category.code,
                        text: category.name
                    }));
                });
                $('#categories').val(post.category);
            })
            CKEDITOR.replace('content', {
                extraPlugins: 'image2,imageuploader,wordcount'
            });
            CKEDITOR.instances['content'].setData(post.content)

            $('#avatar').change(function () {
                var files = document.getElementById('avatar').files;
                if (files.length > 0) {
                    getBase64(files[0]);
                }
            });
            var counterTempate = '(%d)';
            $('#counter').text(counterTempate.replace("%d", post.header.length));

            $('#header').keyup(function () {
                var counter = $('#header').val().length;
                $('#counter').text(counterTempate.replace("%d", counter));
            })

            function getBase64(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    avatar = reader.result;
                    $('#avatar-place-holder').css("background-image", "url(" + avatar + ")");
                    $('#ava').val(avatar);
                };
                reader.onerror = function (error) {
                    console.log('Error: ', error);
                };
            }

            $('#custom_url').click(function () {
                if ($(this).text().indexOf('Custom') > -1) {
                    $('#url').prop('readonly', false);
                    $(this).text('Use Suggested URL');
                } else {
                    $('#url').prop('readonly', true);
                    $(this).text('Use Custom URL');
                    $('#url').val(suggestionUrl);
                }
            })


