extend ./layout.jade
block content
    .container-fluid.home-header.text-center
        .row
            div
                .padding-top-300
                    .text-center
                        .padding-top-bottom-15.background-gray-dark-opacity.display-inline.padding-left-right-15
                            form.form-inline
                                .form-group
                                    .input-group
                                        .placeholder-wrap
                                            input#search.tera-home-search-text.height-32(type='text')
                                            span.placeholder
                                        span.input-group-btn
                                            button.btn.btn-danger.tera-home-search-button(type='button')
                                                span.glyphicon.glyphicon-search(aria-hidden='true')
                            .text-right.font-size-11.font-white-color.padding-top-5.cursor-pointer Tìm kiếm nâng cao
                .row
                    #carousel.carousel.slide.home-slider(data-ride='carousel', data-type='multi', data-interval='9999999')
                        .carousel-inner
                            - var i = 0;
                            each feature in features
                                if (i == 0)
                                    - i++;
                                    .item.active
                                        .carousel-col
                                            .block.text-center
                                                .block-body
                                                    .block-image(style='background-image: url(/static/img/nha-pho.jpg)')
                                                    .block-info
                                                        p #{feature.tit}
                                                        p
                                                            b #{feature.pri}
                                                        p #{feature.add}
                                 else
                                    .item
                                        .carousel-col
                                            .block.text-center
                                                .block-body
                                                    .block-image(style='background-image: url(/static/img/nha-pho.jpg)')
                                                    .block-info
                                                        p #{feature.tit}
                                                        p
                                                            b #{feature.pri}
                                                        p #{feature.add}



                        .left.carousel-control
                            a(href='#carousel', role='button', data-slide='prev')
                                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                span.sr-only Previous
                        .right.carousel-control
                            a(href='#carousel', role='button', data-slide='next')
                                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                span.sr-only Next
    .tera-body.container
        .row
            .col-xs-12.col-md-8
                // Du an noi bat
                .panel.panel-tera-default
                    .panel-heading
                        span.text-left Dự án nổi bật
                        a(href='/projects').btn.btn-link.pull-right Xem thêm
                        .row
                            .col-xs-8.col-xs-offset-2.font-gray-color.hidden-sm
                                .row
                                    button.btn.btn-link.pull-right Nha trang
                                    span.pull-right |
                                    button.btn.btn-link.pull-right Đà nẵng
                                    span.pull-right |
                                    button.btn.btn-link.pull-right Hà nội
                                    span.pull-right |
                                    button.btn.btn-link.pull-right Sài gòn
                                    // <span class="pull-right">Lọc theo</span>
                    .panel-body
                        .tera-block.col-xs-12.col-sm-6.col-md-4.col-lg-4
                            .block-body
                                .block-img
                                    div(style='background-image: url(/static/img/nha-pho.jpg)')
                                .block-info
                                    h4 Xuất ngoại cần bán nhà mới xây Xuất ngoại cần bán nhà mới xây
                                    p
                                        | 3.6 tỷ/căn | 78 &#x33A1
                                    p
                                        i.fa.fa-map-marker(aria-hidden='true')
                                        |  Quận Gò Vấp, TP.HCM
                        .tera-block.col-xs-12.col-sm-6.col-md-4.col-lg-4
                            .block-body
                                .block-img
                                    div(style='background-image: url(/static/img/nha-pho.jpg)') d
                                .block-info
                                    h4 Xuất ngoại cần bán nhà mới xây Xuất ngoại cần bán nhà mới xây
                                    p
                                        | 3.6 tỷ/căn | 78 &#x33A1
                                    p
                                        i.fa.fa-map-marker(aria-hidden='true')
                                        |  Quận Gò Vấp, TP.HCM
                        .tera-block.col-xs-12.col-sm-6.col-md-4.col-lg-4
                            .block-body
                                .block-img
                                    div(style='background-image: url(/static/img/nha-pho.jpg)') d
                                .block-info
                                    h4 Xuất ngoại cần bán nhà mới xây Xuất ngoại cần bán nhà mới xây
                                    p
                                        | 3.6 tỷ/căn | 78 &#x33A1
                                    p
                                        i.fa.fa-map-marker(aria-hidden='true')
                                        |  Quận Gò Vấp, TP.HCM
                // end Du an noi bat
                div
                    img.img-responsive.max-height-200(src='http://www.adworthmedia.org/images/banner02.jpg?v=11.3')
                // Nha dat noi bat
                .panel.panel-tera-default
                    .panel-heading
                        span.text-left Nhà đất nổi bật
                        a(href='/search').btn.btn-link.pull-right Xem thêm
                        .row
                            .col-xs-8.col-xs-offset-2.font-gray-color.hidden-sm
                                .row
                                    button.btn.btn-link.pull-right Nha trang
                                    span.pull-right |
                                    button.btn.btn-link.pull-right Đà nẵng
                                    span.pull-right |
                                    button.btn.btn-link.pull-right Hà nội
                                    span.pull-right |
                                    button.btn.btn-link.pull-right Sài gòn
                                    span.pull-right Lọc theo
                    .panel-body
                        each listing in listings || []
                            - var img = !listing.img ? "" : listing.img[0];
                            .tera-block.col-xs-12.col-sm-6.col-md-4.col-lg-4
                                .block-body
                                    .block-img
                                        div(style='background-image: url(' + img || ""+')')
                                    .block-info
                                        h4
                                            a(href='/product_details?lid=' + listing.lid) #{listing.tit}
                                        p
                                            | #{listing.pri} | #{listing.are} &#x33A1
                                        p
                                            i.fa.fa-map-marker(aria-hidden='true')
                                            |  #{listing.add}

                // end Nha dat noi bat
                .row.padding-bottom-28
                    .col-xs-12.col-md-6.text-center
                        img.img-responsive(src='http://www.adworthmedia.org/images/banner02.jpg?v=11.3')
                    .col-xs-12.col-md-6.text-center
                        img.img-responsive(src='http://www.adworthmedia.org/images/banner02.jpg?v=11.3')
                .row
                    .col-xs-12.col-md-6
                        iframe(width='100%', height='315', src='https://www.youtube.com/embed/KP5HWIEkpD8?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                    .col-xs-12.col-md-6
                        iframe(width='100%', height='315', src='https://www.youtube.com/embed/mgzWvW586EU?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
            // right col
            .col-xs-12.col-md-4
                // Tin tuc
                .panel.panel-tera-default
                    .panel-heading.no-padding
                        span.text-left Tin Tức
                        a(href='/news').btn.btn-link.pull-right Xem thêm
                    .panel-body
                        .padding-bottom-15
                            div
                                img.img-responsive(src='http://file4.batdongsan.com.vn/2015/11/13/b9sp0zUm/20151113132805-2f6d.jpg')
                            .padding-top-bottom-5
                                b Giá nhà phố cổ Hà Nội 5 triệu /m2 vẫn "ế"
                            div
                                | Trái với hào nhoáng của những ngôi nhà mặt tiền đắt đỏ,
                                | nhiều 'căn nhà 3 không' nằm sâu bên trong những con...
                            .padding-top-bottom-5.font-size-12.font-gray-color
                                i Nhà đất việt | 2 phút
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                .panel.panel-tera-default
                    .panel-heading.no-padding
                        span.text-left Kiến thức nhà đẹp
                        button.btn.btn-link.pull-right Xem thêm
                    .panel-body
                        .padding-bottom-15
                            div
                                img.img-responsive(src='http://file4.batdongsan.com.vn/2015/11/13/b9sp0zUm/20151113132805-2f6d.jpg')
                            .padding-top-bottom-5
                                b Giá nhà phố cổ Hà Nội 5 triệu /m2 vẫn "ế"
                            div
                                | Trái với hào nhoáng của những ngôi nhà mặt tiền đắt đỏ,
                                | nhiều 'căn nhà 3 không' nằm sâu bên trong những con...
                            .padding-top-bottom-5.font-size-12.font-gray-color
                                i Nhà đất việt | 2 phút
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
                        .devider.col-xs-12
                        .col-xs-12.padding-top-bottom-10
                            .row
                                .col-xs-12.col-md-4
                                    .row
                                        img.img-responsive(src='http://khudothisala.vn/wp-content/uploads/2015/02/3.2.2015-CauNhanhN1KetNoiCauChinh.jpg')
                                .col-xs-12.col-md-8
                                    div
                                        b Khởi động dự án cầu đường Binh Tiên vốn 3.607 tỷ
                                    .font-size-12.font-gray-color
                                        i Nhadatviet | 2phut
    .tera-sub-menu
        .container-fluit
            .row.background-white-color
                .container
                    .row
                        .col-xs-12.col-md-6
                            .panel.panel-tera-bottom-menu
                                .panel-heading.no-padding
                                    span.glyphicon.glyphicon-minus(aria-hidden='true')
                                    span.text-left.title Nhà đất bán được tìm nhiều nhất
                                .panel-body
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                        .col-xs-12.col-md-6
                            .panel.panel-tera-bottom-menu
                                .panel-heading.no-padding
                                    span.glyphicon.glyphicon-minus(aria-hidden='true')
                                    span.text-left.title Nhà đất thuê được tìm nhiều nhất
                                .panel-body
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                        .col-xs-12.col-md-6
                            .panel.panel-tera-bottom-menu
                                .panel-heading.no-padding
                                    span.glyphicon.glyphicon-minus(aria-hidden='true')
                                    span.text-left.title Bất động sản tp.HCM
                                .panel-body
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                        .col-xs-12.col-md-6
                            .panel.panel-tera-bottom-menu
                                .panel-heading.no-padding
                                    span.glyphicon.glyphicon-minus(aria-hidden='true')
                                    span.text-left.title Bất động sản tp.HN
                                .panel-body
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4.menu-border-right
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
                                    .col-xs-12.col-sm-4.col-md-4
                                        div
                                            a Bán nhà quận Hoàng Mai
                                        div
                                            a Bán đất nền
                                        div
                                            a Bán nền quận 9
                                        div
                                            a Bán nền quận 2
                                        div
                                            a Bán đất nền quận 8
                                        div
                                            a Căn hộ chung cư
                                        div
                                            a Chung cư Đà Nẵng
block page-script
    style.
        .placeholder-wrap {
            margin: 20px;
            display: inline-block;
            position: relative;
            background: #FFF;
        }

        .placeholder-wrap .placeholder {
            position: absolute;
            top: 50%;
            left: 0px;
            color: #888;
            margin-top: -.5em;
            line-height: 1em;
            z-index: 9;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }

        .placeholder-wrap #search {
            background-color: transparent;
            border: 1px #999 solid;
            padding: 4px 6px;
            position: relative;
            z-index: 10;
        }
        .placeholder {
            text-align: left;
            margin-left: 10px;
        }


    script.
        var myVar = setInterval(myTimer, 3000);

        function myTimer() {
            var d = new Date();
            var text = $('#search').val();
            if (!text) {
                if (d.getSeconds() % 2 == 0) {
                    $('.placeholder').html('<b>mua</b> nha quan 2');
                } else {
                    $('.placeholder').html('<b>thue</b> chung cu hoang anh gia lai');
                }
            }
        }
        $('#search').on('keyup', function () {
            var text = $('#search').val();
            $('.placeholder').text('');
            if (!text) $('.placeholder').html('<b>mua</b> nha quan Thu Duc gia 2 ti');
        })
