doctype html
html
    head
        title Search result - map
        link(rel='stylesheet', href='/static/lib/bootstrap/css/bootstrap.min.css')
        script(src='/static/lib/jquery.min.js')
        script(src='/static/lib/bootstrap/js/bootstrap.min.js')
        link(rel='stylesheet', href='/static/lib/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/static/lib/boostrap-custom/theme.min.css')
        link(rel='stylesheet', href='/static/less/tera.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/static/lib/carousel-multi/carousel-multi.css')
        script(src='/static/lib/carousel-multi/carousel-multi.js')
        link(rel='stylesheet', href='/static/less/product-detail.css')
    body
        .product-wraper
            .tera-panel-head.tera-panel-head-success
                .container-fluid
                    .row
                        h1.title #{post.tit}
                        .btn-group.pull-right
                            button.btn.btn-success.btn-close(onclick='parent.closeDetailWindow();')
                                span.glyphicon.glyphicon-remove-circle
                                |  Đóng
            .product-content
                .full-size
                    .container-fluid
                        .row
                            .col-xs-.col-centered
                                #carousel.carousel.slide(data-ride='carousel', data-type='multi', data-interval='2500')
                                    .carousel-inner
                                        - var i = 0;
                                            each img in post.img || []
                                                if (i == 0)
                                                    - i++;
                                                    .item.active
                                                        .carousel-col
                                                            .block.img-responsive(style='background-size: cover; background-image: url(' + img + ')')
                                                else
                                                    .item
                                                        .carousel-col
                                                            .block.img-responsive(style='background-size: cover; background-image: url(' + img + ')')
                                    // Controls
                                    .left.carousel-control
                                        a(href='#carousel', role='button', data-slide='prev')
                                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                            span.sr-only Previous
                                    .right.carousel-control
                                        a(href='#carousel', role='button', data-slide='next')
                                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                            span.sr-only Next
                        .padding-top-20
                            .panel.panel-tera.col-xs-12.col-sm-6
                                .panel-heading
                                    | Mô tả
                                .panel-body
                                    | !{post.des    }
                            .panel.panel-tera.col-xs-12.col-sm-6
                                .panel-heading
                                    | Đặc điểm
                                .panel-body
                                    table.table.table-striped
                                        tr
                                            td Diện tích
                                            td #{post.are} &#x33A1
                                        tr
                                            td Hướng
                                            td #{post.dir}
                                        tr
                                            td Tầng
                                            td #{post.nof}
                                        tr
                                            td Phòng ngủ
                                            td #{post.nob}
                                        tr
                                            td Phòng tắm
                                            td #{post.now}
                                        tr
                                            td Tình trạng pháp lý
                                            td #{post.leg}
                            .panel.panel-tera.col-xs-12.col-sm-6
                                .panel-heading
                                    | Tiện ích
                                .panel-body
                                    each feature in post.fea || []
                                        h6 #{feature}
                            .panel.panel-tera.col-xs-12.col-sm-6
                                .panel-heading
                                    | Môi trường xung quanh
                                .panel-body
                                    each confirm in post.fac || []
                                        h6 #{confirm}
            .broker-info
                .broker-info-body
                    .container-fluid
                        .row
                            .broker-panel
                                img.broker-avatar.img-circle.img-thumbnail(src=post.ava || "/static/img/default-avatar.png" )
                                .broker-name
                                    h4 #{post.ana}
                                button#phone_number.btn.btn-danger.hidden-sm.hidden-md.hidden-lg(name='phone_number')
                                    | (click để xem)
                                    br
                                    - var phone = post.mob || "";
                                    b#phone_value(value=post.mob) #{phone.substring(0, 7) + "XXXX"}
                                button#phone_number.btn.btn-lg.btn-danger.hidden-xs(name='phone_number')
                                    | (click để xem)
                                    br
                                    b#phone_value(value=post.mob) #{phone.substring(0, 7) + "XXXX"}


    script.
        $('#phone_number').on("click", function () {
            const phoneNumber = $('#phone_value').attr("value");
            $(this).text(phoneNumber);
        })
        var post = !{JSON.stringify(post)}
        var meta = document.createElement('meta');
        if (!!post) {
            meta.name = "description";
            meta.content = (post.tit && post.tit.length) > 160 ? post.tit.substring(0, 159) : post.tit;
            $('head').append(meta);
            document.title = meta.content;
        }
