extend ./layout.jade
block head
    link(rel='stylesheet', href='/static/less/product-detail.css')
block content
    .tera-body.container
        ol.breadcrumb
            li
                a.breadcrumb(href='/') Tera
            each url in post.urls || []
                li
                    a.breadcrumb(href="/" + url.url) #{url.name}
        .row
            h1.title #{post.tit}
        .row
            .col-xs-.col-centered
                #carousel.carousel.slide(data-ride='carousel', data-type='multi', data-interval='2500')
                    .carousel-inner
                        - var i = 0;
                            each img in post.img || []
                                if (i == 0)
                                    - i++;
                                    .item.active
                                        .carousel-col
                                            .block.img-responsive(style='background-size: cover; background-image: url(' + img + ')')
                                else
                                    .item
                                        .carousel-col
                                            .block.img-responsive(style='background-size: cover; background-image: url(' + img + ')')
                    .left.carousel-control
                        a(href='#carousel', role='button', data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                            span.sr-only Previous
                    .right.carousel-control
                        a(href='#carousel', role='button', data-slide='next')
                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                            span.sr-only Next
                .padding-top-20
                    .panel.panel-tera.col-xs-12.col-sm-6
                        .panel-heading
                                | Mô tả
                        .panel-body
                            | !{post.des}
                    .panel.panel-tera.col-xs-12.col-sm-6
                        .panel-heading
                            | Đặc điểm
                        .panel-body
                            table.table.table-striped
                                tr
                                    td Địa chỉ
                                    td #{post.add}
                                tr
                                    td Giá
                                    if (post.pri && post.pri != 'thỏa thuận' && post.pri != 0)
                                        td #{post.pri} #{post.unit}
                                    else
                                        td thỏa thuận
                                tr
                                    td Diện tích
                                    if (post.are && post.are != 'không xác định')
                                        td #{post.are} &#x33A1
                                    else
                                        td không xác định
                                tr
                                    td Hướng
                                    td #{post.dir}
                                tr
                                    td Tầng
                                    if (post.nof && post.nof != 0)
                                        td #{post.nof}
                                    else
                                        td không xác định
                                tr
                                    td Phòng ngủ
                                    if (post.nob && post.nob != 0)
                                        td #{post.nob}
                                    else
                                        td không xác định
                                tr
                                    td Phòng tắm
                                    if (post.now && post.now != 0)
                                        td #{post.now}
                                    else
                                        td không xác định
                                tr
                                    td Tình trạng pháp lý
                                    td #{post.leg}
                        .panel-heading
                            | Tiện ích
                        .panel-body
                            each feature in post.fea || []
                                h6 #{feature}
                        .panel-heading
                            | Môi trường xung quanh
                        .panel-body
                            each confirm in post.fac || []
                                h6 #{confirm}
    .broker-info
        .broker-info-body
            .container-fluid
                .row
                    .broker-panel
                        img.broker-avatar.img-circle.img-thumbnail(src=post.ava || "/static/img/default-avatar.png")
                        .broker-name
                            h3 #{post.ana}
                            button.btn.btn-danger.hidden-sm.hidden-md.hidden-lg
                                | (click để xem)
                                br
                                b #{post.mob}
                        button#broker_button.btn.btn-lg.btn-danger.hidden-xs
                            | (click để xem)
                            br
                            b#phoneNumber(value=post.mob) #{post.mob.substring(0, 7) + "XXXX"}
block page-script
    style.
        .tera-body.container {
            margin-top: 70px;
        }
    script.

        $('#broker_button').on("click", function () {
            const phoneNumber = $('#phoneNumber').attr("value");
            $('#broker_button').text(phoneNumber);
        })
        var post = !{JSON.stringify(post || {})}
        var crumbs = [{
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://www.tera.vn",
                    "name": "Tera"
                }
            }]
            }];

        $.each(post.urls, function (index, element) {
            var url = element.url;
            var name = element.name.trim();
            crumbs.push({
                "@context": "http://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": index + 2,
                    "item": {
                        "@id": url,
                        "name": name,
                    }
                }]
            });
        });
        var myscript = document.createElement('script');
        myscript.type = 'application/ld+json';
        myscript.text = JSON.stringify(crumbs);
        $('head').append(myscript);

        var meta = document.createElement('meta');
        meta.name = "description";
        meta.content = post.tit.length > 135 ? post.tit.substring(0, 134) : post.tit + "- ID" + post.lid;
        $('head').append(meta);
        document.title = meta.content;

