extends ./layout2.jade
block head
    title Tài khoản
    meta(name='description', content='Tài khoản')
    link(rel='stylesheet', href='/static/less/user-profile.css')
    script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "https://www.tera.vn/",
        "name": "Tera",
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "https://www.tera.vn/tai-khoan",
        "name": "Tài Khoản",
        }
        }]
        }
    script(src="/static/lib/bootstrap-notify.min.js")
block content
    .tera-body.container
        .row
            ol.breadcrumb
                li
                    a.breadcrumb(href='/') Tera
                li
                    a.breadcrumb(href='/tai-khoan') Tài Khoản
            .col-xs-12
                .panel.panel-tera-posting
                    .panel-heading.no-padding
                        span.text-left.title Tài khoản
        .row
            .panel.col-xs-12.col-sm-4.col-md-3
                .panel-body
                    .list-group
                        a.list-group-item.active(href='/tai-khoan?tab=thong-tin-chung', name='thong-tin-chung') Thông tin chung
                        a.list-group-item(href='/tai-khoan?tab=doi-mat-khau', name='doi-mat-khau') Thay đổi mật khẩu
                        a.list-group-item(href='/tai-khoan?tab=lich-su-dang-tin' , name='lich-su-dang-tin') Lịch sử đăng tin
                        if (user && (user.roles.indexOf(1) > -1 || user.mob == '0898759354' || user.mob == '0938883702'))
                            a.list-group-item(href='/tai-khoan?tab=quan-ly-tin-tuc' , name='quan-ly-tin-tuc') Quản lý tin tức
                            a.list-group-item(href='/tai-khoan?tab=quan-ly-category' , name='quan-ly-category') Quản lý category
            .panel.col-xs-12.col-sm-8.col-md-9
                .panel-body
                    .err
                        | #{errorMessage}
                    form#thong-tin-chung(action='/update_user', method='POST').form-horizontal
                        fieldset
                            // Form Name
                            // Text input
                            .form-group
                                label.col-md-4.control-label(for='name') Tên
                                .col-md-4
                                    input#name.form-control.input-md(name='fin', type='text', placeholder='Tên', value=user.fin)
                                    input.sr-only(name='tab', value='general')
                            // Text input
                            .form-group
                                label.col-md-4.control-label(for='userName') Số điện thoại
                                .col-md-4
                                    input#userName.form-control.input-md(name='userName', type='text', placeholder='Số điện thoại', readonly, value=user.mob)
                            // Text input
                            .form-group
                                label.col-md-4.control-label(for='avatar') Avatar
                                .col-md-8
                                    label.cursor-pointer(for='avatar')
                                        #avatar-place-holder.square-80.media-upload(style='background-image: url(' + user.ava || "/static/img/upload.svg" + ')')
                                    input#avatar.input-file.hidden(type='file')
                                    input#ava.hidden(type='text', name='ava')
                            .form-group
                                label.col-md-4.control-label(for='update')
                                .col-md-4
                                    button#update.btn.btn-danger(name='update', type='submit') Cập nhật
                    form#doi-mat-khau(action="/change_password", method='POST', onsubmit="return validatePassword()").form-horizontal
                        fieldset
                            // Password input
                            .form-group
                                label.col-md-4.control-label(for='curPass') Mật khẩu hiện tại
                                .col-md-4
                                    input#curPass.form-control.input-md(name='oldPassword', value=oldPassword, type='password', placeholder='Mật khẩu hiện tại', required)
                                    input.sr-only(name='tab', value='change_password')
                            // Password input
                            .form-group
                                label.col-md-4.control-label(for='newPass') Mật khẩu mới
                                .col-md-4
                                    input.hidden(name='phone', value=user.mob)
                                    input#newPass.form-control.input-md(name='password', value=password, type='password', placeholder='Mật khẩu mới', required)
                            // Password input
                            .form-group
                                label.col-md-4.control-label(for='repeatPass')
                                .col-md-4
                                    input#repeatPass.form-control.input-md(type='password', name='confirm', value=confirm, placeholder='Mật khẩu mới ', required)
                            .form-group
                                label.col-md-4.control-label(for='updatePassword')
                                .col-md-4
                                    button#updatePassword.btn.btn-danger(name='update') Cập nhật
                    form#lich-su-dang-tin.form-horizontal
                        .table-responsive
                            table.table.table-bordered
                                thead
                                    tr
                                        th STT
                                        th Tiêu đề tin
                                        th Tạo lúc
                                        th Sửa
                                        th Xóa
                                tbody
                                    each post, index in posts || []
                                        - var id = post.lid;
                                        tr(id=id)
                                            td #{index + 1}
                                            td #{post.tit}
                                            td #{new Date(post.cra).toLocaleString()}
                                            td
                                                a(onclick='editPost("' + id + '")')
                                                    i.glyphicon.glyphicon-edit
                                            td
                                                a(onclick='deletePost("' + id + '")')
                                                    i.glyphicon.glyphicon-trash
                    section
                        form#quan-ly-tin-tuc
                            a#add-class-form-btn.btn.btn-link(type='button', href='/tai-khoan?tab=quan-ly-category') Quản lý category
                            a#add-class-form-btn.btn.btn-primary(type='button', href='/them-tin-tuc')
                                i(class='fa fa-plus')  Tin Tức
                            table#table.table.table-hover.dt-responsive.nowrap(style='width: 100%')
                                thead
                                    tr
                                        th.text-left Sửa
                                        th.text-left Ngày Tạo
                                        th.text-left Tiêu đề
                                        th.text-left Category
                                        th.text-left Xóa

                                tbody
                                    each post, index in news || []
                                        - var description = post.header || '';
                                        - var cat = description.length > 30 ? description.substring(0, 29) + '...' : description;
                                        tr
                                            td
                                                a.tableClickable(href='/sua-tin-tuc?code=' + post.code)
                                                    i(class='fa fa-edit')
                                            td #{new Date(post.created).toLocaleString('en-US')}
                                            td #{cat}
                                            td #{post.categoryName}
                                            td
                                                i(type='button', class="fa fa-trash clickable", onclick="deletePost(" + post.code + ")")

                    section
                        form#quan-ly-category
                            a#add-class-form-btn.btn.btn-link(type='button', href='/tai-khoan?tab=quan-ly-tin-tuc') Quản lý tin tức
                            a#add-class-form-btn.btn.btn-primary(type='button', href='/them-category')
                                i(class='fa fa-plus')  Category
                            table#table.table.table-hover.dt-responsive.nowrap(style='width: 100%')
                                thead
                                    tr
                                        th.text-left Sửa
                                        th.text-left Name
                                        th.text-left URL
                                        th.text-left Description
                                        th.text-left Xóa

                                tbody
                                    each category, index in categories || []
                                        - var cat = category.description.length > 30 ? category.description.substring(0, 29) + '...' : category.description
                                        tr
                                            td
                                                a.tableClickable(href='/sua-category?code=' + category.code)
                                                    i(class='fa fa-edit')
                                            td #{category.name}
                                            td #{category.url}
                                            td #{cat}
                                            td
                                                i(type='button', class="fa fa-trash clickable", onclick="deleteCategory(" + category.code + ")")


block page-script
    style.
        .tera-body.container {
            margin-top: 70px;
        }

        #table {
            margin-top: 50px;
        }

        .tableClickable {
            color: #2c2c2c;
        }

        .link {
            color: #d8630f;
        }

        #tags {
            margin-top: 150px;
        }
    script.
        var avatar = '';
        $('#avatar').change(function () {
            var files = document.getElementById('avatar').files;
            if (files.length > 0) {
                getBase64(files[0]);
            }
        });

        function editPost(id) {
            window.location = '/cap-nhat-tin-dang?lid=' + id;
        }

        function viewPost(id) {
            window.location = '/chi-tiet-tin-dang?lid=' + id;
        }

        function deletePost(id) {
           var r = confirm("Bạn muốn xóa tin?");
                if (r == true) {
                    $.post('delete_post', {lid: id}, function (err, res) {
                                    $('#' + id).remove();
                                    $.notify({
                                        message: 'Tin đã được xóa'
                                    }, {
                                        type: 'danger'
                                    });
                                })
                }
        }

        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                avatar = reader.result;
                $('#avatar-place-holder').css("background-image", "url(" + avatar + ")");
                $('#ava').val(avatar);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }

        var tab = !{JSON.stringify(tab || 'thong-tin-chung')};
        var selector = 'a[name=' + tab + ']';
        $("form").hide();
        $('a.list-group-item').removeClass('active');
        $("#" + tab).show();
        $(selector).addClass('active ');

        function validatePassword() {
            var newPass = $('#newPass').val();
            var repeatPass = $('#repeatPass').val();
            if (newPass !== repeatPass) {
                $('.err').text('2 mật khẩu không trùng nhau');
                return false;
            }
            if (newPass.length < 6) {
                $('.err').text('Mật khẩu phải có ít nhất 6 kí tự');
                return false
            }
            return true;
        }
        function deletePost(code) {
                 var r = confirm("Press OK if you want to delete this news ?");
                 if (r == true) {
                     $.post('/delete_news', {
                         code: code
                     }, function (res, err) {
                         location.reload();
                     })
                 }
             }

        function deleteCategory(code) {
                var r = confirm("Press OK if you want to delete this category ?");
                if (r == true) {
                    $.post('/delete_category', {
                        code: code
                    }, function (res, err) {
                        location.reload();
                    })
                }
            }
