extend ./layout.jade
block head
    title Dự Án
    meta(name='description' content='Dự Án')
    script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
        "@id": "https://www.tera.vn/",
        "name": "Tera",
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
        "@id": "https://www.tera.vn/du-an",
        "name": "Du Án",
        }
        }]
        }
    script(src="/static/lib/jquery-ias.min.js")


block content
    .tera-body.container-fluid
        .row.hidden-sm.hidden-md.hidden-lg
            .panel
                .panel-body
                    include ./posting_button.jade
        .row.text-center
            .panel.panel-tera-light
        .row
            ol.breadcrumb
                li
                    a.breadcrumb(href='/') Tera
                li
                    a.breadcrumb(href='/du-an') Dự Án
                each url in urls || []
                    li
                        a.breadcrumb(href= url.url) #{url.name}
            .col-xs-12
                .row#content
                    each project in projects
                        .tera-block.col-xs-12.col-sm-6.col-md-3.col-lg-3.project
                            - var img = project.thumbnail || "/static/img/650x550.png";
                            .block-body
                                .block-img
                                    a.image(style='background-image: url(' + img + ')', href="/du-an" + project.url)
                                .block-info
                                    h5.product-title
                                        a(href="/du-an" + project.url) #{project.title}
                                    p
                                        | Giá:
                                        &nbsp
                                        b.color-orange #{project.price}
                                        | #{project.priceUnit} - Diện tích:
                                        &nbsp
                                        b.color-orange #{project.are}
                                        if (project.are != 'không xác định')
                                            |  &#x33A1
                                    p.address
                                        i.fa.fa-map-marker.color-green(aria-hidden='true')
                                        |  #{project.address}

                .row.text-center
                    .panel.panel-tera-default
                        #pagination
                            a.next(href='/du-an?pag=' + page || 2) next

block page-script
    style.
        .tera-body.container-fluid {
            margin-top: 70px;
        }

    script.
        $(document).ready(function () {
            $('.tera-advance-search').addClass('hidden');
            $(".tera-advance-search-button").click(function () {
                $('.tera-advance-search').toggleClass('hidden');
                if ($('.tera-advance-search').first().hasClass('hidden')) {
                    $(this).html("Tìm kiếm nâng cao")
                } else {
                    $(this).html("Thu gọn")
                }
            });
        });

        var ias = jQuery.ias({
            container:  '#content',
            item:       '.project',
            pagination: '#pagination',
            next:       '.next'
        });
        var i = !{JSON.stringify(page || 2)};
        if (i == 1) {
            i = 2;
        }

        ias.on('load', function (event) {
            url = 'du-an?' + "pag=" + i++;
            event.url = url;
            window.history.replaceState({}, "Du an", url);
        })

        // Add a loader image which is displayed during loading
        ias.extension(new IASSpinnerExtension());

        // Add a link after page 2 which has to be clicked to load the next page
        ias.extension(new IASTriggerExtension({offset: 2}));

        // Add a text when there are no more pages left to load
        ias.extension(new IASNoneLeftExtension({text: "You reached the end"}));

        var url = window.location.href.split('?')[0];
        var link = '<link rel="canonical" href=' +  url + '>';
        $('head').append(link);
        document.title = meta.content;


