#register_popup.modal(style="display:none")
    form#register_form1
        legend Đăng ký
        .popup_error
            | #{errorMessage}
        fieldset
            p.tall-row
                | Số điện thoại của bạn sẽ được dùng như tài khoản để đăng nhập
                | Luôn được bảo mật và chỉ có bạn bè có thể liên lạc với bạn trong Tera
            .form-group
                input#phone2.form-control.input(type='number', name='phone', value=phone || '' , placeholder='Nhập số điện thoại')
            .form-group
                label.control-label(for='register')
                button#register.btn.btn-danger(type='button', name='send', aria-label='')
                    | Tiếp tục
                .row#go_back
                    | Bạn đã có tài khoản?
                    a#login_link(href='#login_popup' rel="modal:open")  Đăng nhập
    form#register_form2(style="display:none")
        .popup_error
            | #{errorMessage}
        fieldset
            p.tall-row
                | Chúng tôi đang gửi tin nhắn SMS mã xác nhận đến số điện thoại
                b#phone_number #{phone}
            br
            .form-group
                input#OTP2.form-control(type='text', placeholder='Nhập mã xác nhận', name='code', value=code || '')
                input.phone_number.sr-only.form-control.input(type='phone', name='phone', value=phone || '')
                input#action2.sr-only.form-control.input(type='text', name='action')

            .form-group
                button#activate.btn.btn-danger(type='button', name='action', value='activate')
                    | Kích hoạt
                br
                button#resend.btn.btn-link(type='button', name='action', aria-label='', value='resend')
                    | Gửi lại mã
    form#register_form3(style="display:none")
        legend Cập nhật mật khẩu
        .popup_error
            | #{errorMessage}
        fieldset
            .form-group
                input.form-control(type='password', placeholder='Nhập mật khẩu', name='password')
                input.sr-only.form-control.input(type='phone', name='phone', value=phone || '')
                input#old_password2.sr-only.form-control.input(name='oldPassword', value=oldPassword || '')
            .form-group
                input.form-control(type='password', placeholder='Nhập lại mật khẩu', name='confirm')
            .form-group
                button#change_password_first_time.btn.btn-danger(type='button') Cập Nhật
    form#register_form4(style="display:none")
        legend Cập nhật tên
        .popup_error
            | #{errorMessage}
        fieldset
            .form-group
                input.form-control(type='text', placeholder='Nhập tên', name='name')
            .form-group
                button#start.btn.btn-danger(type='button')
                    | Hoàn tất

    script.
        $('.popup_error').text('');
        $('#register').click(function () {
            $('.popup_error').text('');
            $('#phone_number').text(' +84' + $('#phone2').val());
            $.post('/register', $('#register_form1').serialize(), function (data, err) {
                if (data.errorMessage) {
                    $('.popup_error').text(data.errorMessage)
                } else {
                    $('#register_form1, #register_form2, #register_form3, #register_form4').hide()
                    $('#register_form2').show();
                }
            });
        })

        $('#activate').click(function () {
            $('.popup_error').text('');
            $('.phone_number').val($('#phone2').val());
            $('#action2').val('activate');
            $.post('/activate', $('#register_form2').serialize(), function (data, err) {
                if (data.errorMessage) {
                    $('.popup_error').text(data.errorMessage)
                } else {
                    $('#register_form1, #register_form2, #register_form3, #register_form4').hide()
                    $('#register_form3').show();
                }
            });
        })

        $('#resend').click(function () {
            $('.popup_error').text('');
            $('.phone_number').val($('#phone2').val());
            $('#action2').val('resend');
            $.post('/activate', $('#register_form2').serialize(), function (data, err) {
                if (data.errorMessage) {
                    $('.popup_error').text(data.errorMessage)
                }
            });
        })

        $('#change_password_first_time').click(function () {
            $('.popup_error').text('');
            $('#old_password2').val($('#OTP2').val());
            $.post('/change_password_first_time', $('#register_form3').serialize(), function (data, err) {
                if (data.errorMessage) {
                    $('.popup_error').text(data.errorMessage)
                } else {
                    $('#register_form1, #register_form2, #register_form3, #register_form4').hide()
                    $('#register_form4').show();
                }
            });
        })

        $('#start').click(function () {
            $('.popup_error').text('');
            $.post('/start', $('#register_form4').serialize(), function (data, err) {
                if (data.errorMessage) {
                    $('.popup_error').text(data.errorMessage)
                } else {
                    $.modal.close();
                    location.reload();
                }
            });
        })